* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6em;
    background-color: #847996;
}
h1 {
    font-size: 2em;
    letter-spacing: 5px;
}

h2 {
    font-size: 1.5em;
    letter-spacing: 1px;
}
p{
    font-size: 1.2em;

}

.navbar {
    background-color: pink;
}

.navbar ul {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: black;
}